

body {
  background-color: yellow;
  margin: 0;

}

.outline {
    fill: none;
    stroke: #000000;
    stroke-width:3;
    stroke-miterlimit: 10;
}


.circle {
        stroke: red;
        stroke-width: 2;
        fill: #eee;
      }

.page {
  box-sizing: border-box;
  padding: relative;
  width: 100%;

}

.page {
  box-sizing: border-box;
  padding: relative;
  width: 100%;

}
.title {
  font-size: 72px;
  text-align: center;
  padding-top: 20%;
  color: rgb(128,	23,	37);
}
